@tailwind base;
@tailwind components;
@tailwind utilities;
@import "public/fonts/stylesheet.css";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-family: TTOctosquares;
  color: white;
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, rgba(65, 156, 176, 0.5) 0%, rgba(92, 99, 159, 0.5) 50%, rgba(139, 65, 174, 0.5) 100%);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.SignIn-exiting{
  animation: SignInAnimate 1s ease-out forwards;
}

.SignUp-exiting{
  animation: SignUpAnimate 1s ease-out forwards;
}

.SignIn-entering{
  animation: SignInEntering 1s ease-out forwards;
}

.SignUp-entering{
  animation: SignUpEntering 1s ease-out forwards;
}

@keyframes SignInAnimate {
  from{
    transform: translateX(0%);
  }
  to{
    transform: translateX(-100%);
  }
}

@keyframes SignInEntering {
  from{
    transform: translateX(-100%);
  }
  to{
    transform: translateX(0%);
  }
}

@keyframes SignUpAnimate {
  from{
    transform: translateX(0%);
  }
  to{
    transform: translateX(100%);
  }
}

@keyframes SignUpEntering {
  from{
    transform: translateX(100%);
  }
  to{
    transform: translateX(0%);
  }
}

.bg-btn-liner{
  background: linear-gradient(88.76deg, #393939 0.58%, #4D4D4D 98.96%);
}

.bg-btn-liner:hover{
  background: linear-gradient(88.76deg, #03F7FD 0.58%, #7D23CB 98.96%);
}

table {
  border-collapse: separate;
  border-spacing: 0 20px;
}


